body {
    font-family: Helvetica, Arial, sans-serif;
    color: #473144;
}

h1, h2 {
    font-family: 'Times New Roman', Impact, serif;
    color: #AF1B3F;
}

a {
    color: #AF1B3F;
    text-decoration: none;
}

header {
    padding: 20px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: end;
    justify-items: end;
    list-style: none;
    margin: 0 auto;
    max-width: 300px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 30px;
}

.articles {
    grid-column: 1 / 2;
}

.article-content {
    border-left: 1px solid #EFC69B;
    padding-left: 10px;
}

header h1 {
    font-size: 2em;
    text-align: center;
    padding: 20px;
    color: #473144;
    margin-left: 70px;
}

nav ul li a {
    font-size: 1.2em;
    padding: 10px;
}

nav {
    height: 60px; 
    line-height: 60px;
    border-top: 1px solid #EFC69B;
    border-bottom: 1px solid #EFC69B;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    padding: 8px;
    text-decoration: none;
    transition: top 0.3s ease; 
    z-index: 100;
    background-color: #EFC69B;
}

.skiptocontent a:focus {
    top: 0;
}

.skiptocontent a:hover {
    background-color: #ddd;
}

.article-content img {
    max-width: 200px;
    max-height: 300px;
    margin-left: 120px;
}

.article {
    border-radius: 8px; 
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.article-details {
    display: flex;
    flex-direction: column;
    color: #777;
    font-size: 0.9em;
}

.article-details date, .article-details .age-range, .article-details .genre, .article-details .rating {
    margin-bottom: 5px;
}

.article-content h2 {
    margin-top: 0;
    color: #AF1B3F;
}

.article-content img {
    max-width: 150px; 
    max-height: 225px;
    float: left;
    margin: 0 20px 10px 0;
    object-fit: cover;
}

.article-content p {
    margin-bottom: 10px;
}

.article-content a {
    color: #EFC69B;
    text-decoration: underline;
}
.filters {
    grid-column: 2 / 3;
    padding: 20px;
    border: 1px solid #EFC69B; 
}